
body {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: azure;
}

#container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.gridBox{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 20px;
    height: 20px;
}